.forecast_container {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #04364a;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.forecast_container_boxes {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.daily-item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 120px;
  transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.daily-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

.icon-small {
  margin-bottom: 10px;
  align-self: center;
}

.day {
  color: #164863;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

.min-max {
  color: #176b87;
  font-size: 15px;
  text-align: center;
}

.description {
  color: #567189;
  text-align: center;
  font-size: 13px;
  margin-top: 3px;
}

.modal-title{
  color: #164863;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.modal-hourly-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 15px;
  padding: 15px;
}

.modal-hourly-details-item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.modal-hour {
  color: #164863;
  font-size: 14px;
  margin-right: 5px;
}

.modal-temperature {
  color: #164863;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  position: relative;
  width: 40%; 
  max-width: 90%;
  height: fit-content;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  outline: none;
}
.modal-button-div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-close-button {
  background: #567189; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: background 0.3s ease;
  align-self: center;
}

.modal-close-button:hover {
  background: #164863; 
}
