
.weather{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.weather_box{
    width: 40%;
    height: 50vh;
    border-radius: 10px;
    background: rgb(73,121,9);
background: linear-gradient(0deg, rgba(73,121,9,1) 25%, rgba(3,118,141,1) 100%);
}
.weather_box_title{
    text-align: center;
    color: white;
}
img{
    width: 80px;
    height: 80px;
}
p{
    padding: 0;
    margin: 0;
    color: white;
}
.weather_box_details{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-temperature-quarter, .fa-wind, .material-symbols-outlined {
    font-size: 27px;
    color: rgb(0, 183, 255);
    margin-right: 5px;
}
.fa-location-dot{
    color: rgb(0, 183, 255);
}
