
     .custom-box {
      width: 40%;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 30px;
     }

    .custom-box img {
      width: 80px;
      height: 80px;
    }

    .custom-box-details {
      margin-top: 20px;
    }
    .details{
        text-align: center;
    }
    .justify-content-center{
        display: flex;
        justify-content: center ;
      }
      .weather_box_details{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
      }
      .weather_box_details_p{
        margin: 0;
        
      }
      .temperature{
        font-size: 18px;
        font-weight:600;
      }
      h1{
        color: #164863;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
      }
      p{
        color: #164863;
      }
      div i ,span{
        color: #164863;
      }